@charset "UTF-8";
/* Прижатость текста (на данный момент неприменялось)*/
/* Прописуем глобальные распостраненные свойства */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:hover,
:focus,
:focus-within {
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Обнуляем заглавления */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* обнуляем, убираем маркировку списка */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* обнуляем р */
p {
  margin: 0;
}

/* убираем стиль ссилок */
a {
  /* убираем подчёркивания */
  text-decoration: none;
  /* убираем курсив */
  font-style: normal;
  /* добавляем наследование */
  color: inherit;
  font-family: inherit;
}

/* Блок для position:relative */
.position-relative {
  position: relative;
}

.appearance {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* делаем невидимые заголовки */
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* основние стили елементов */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 480px;
}

@media screen and (max-width: 767px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Оглавления страниц */
.title {
  color: #212121;
}

/* Кнопка-Фон для иконок */
.button-icon {
  padding: 0;
  margin: 0;
  border: none;
}

.section .on-dark {
  color: #ffffff;
}

.title-section {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

.text {
  line-height: 1.71;
  /* or 171% */
  color: #757575;
}

/* Логотип сайта в хедере */
.site-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #2196f3;
}

.site-header .site-logo {
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo-studio {
  color: #212121;
}

.footer .logo-studio {
  color: #ffffff;
}

/* Адресс */
@media screen and (max-width: 767px) {
  .address-blok-header {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .address-blok-header {
    margin-left: auto;
  }
}

.address-blok-header .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address-blok-header .item:hover .icon,
.address-blok-header .item:focus-within .icon {
  fill: #2196f3;
}

.address-blok-header .item:hover .link {
  color: #2196f3;
}

.address-blok-header .button-icon {
  margin-right: 10px;
}

.address-blok-header .button-icon.icon-mail {
  width: 16px;
  height: 11.2px;
  fill: #757575;
}

.address-blok-header .button-icon.icon-phone {
  width: 10px;
  height: 15px;
  fill: #757575;
}

.address-blok-header .button-icon.icon-phone .icon {
  width: 11px;
}

.address-blok-header .icon {
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 16px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-header .address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .site-header .address-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .site-header .address-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.site-header .address-list .item + .item {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .site-header .address-list .item + .item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-header .address-list .item + .item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.address-list .link {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .address-list .link {
    font-size: 18px;
  }
}

.footer .address-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .footer .address-blok {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer .address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer .address-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .address-list .link {
  margin-top: 9px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .address-list .map {
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.list-social {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-social {
  width: 44px;
  height: 44px;
}

.item-social + .item-social {
  margin-left: 10px;
}

.item-social .button-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.item-social .icon {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-social .icon:hover,
.item-social:focus-within .icon {
  background-color: #2196f3;
  fill: #ffffff;
}

.dark-icon {
  border-radius: 50px;
  fill: text-white;
  background-color: rgba(255, 255, 255, 0.1);
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  /* min-height: 50px; */
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  /* для тега button */
  border: none;
  outline: #188ce8;
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

/* Блок шапки */
.site-header {
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  width: 100%;
  z-index: 1;
}

.site-header .item:hover,
.site-header .item:focus-within {
  color: #2196f3;
}

/* Навигация */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Фишка "Мы тут" */
}

.site-nav > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.67;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .site-nav > .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .site-nav .item + .item {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item + .item {
    margin-left: 50px;
  }
}

.site-nav .link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  position: relative;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav .link.current.studio::after {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

.site-nav .link.current::after {
  content: '';
  display: block;
  margin-top: 28px;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .site-nav .link.current::after {
    margin-top: 8px;
  }
}

.menu-button {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover, .menu-button:focus-within {
  fill: #2196f3;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 81px;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: 0;
    top: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #ffffff;
    border-top: 1px solid #ececec;
  }
  .menu-container.is-open {
    display: none;
  }
}

/* Герой */
.hero-section {
  background-color: rgba(47, 48, 58, 0.8);
}

.hero-section.overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/Header-img.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/Header-img.jpg");
}

.hero-section .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  /* height: 600px; */
}

.hero-section .title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* Функции, Характерные черты (Feature) */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .feature .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .feature .list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.feature .item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature .item {
    -ms-flex-preferred-size: calc(50% - 15px);
        flex-basis: calc(50% - 15px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature .item:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature .item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.feature .item + .item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .feature .item + .item:nth-child(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature .item + .item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.feature .icon {
  height: 70px;
  width: 70px;
  /* background-position: center; */
}

.feature .button-icon {
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature .title {
  text-align: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .feature .title {
    text-align: left;
  }
}

.feature .text {
  margin-top: 10px;
}

/* Род деятельности (activity) */
.activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.activity .title-section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
}

.activity .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.activity .item {
  position: relative;
}

.activity .item + .item {
  margin-left: 30px;
}

.activity .title.on-dark {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда (Team) */
/* Ссилаемся на предидущую секцию */
.shadow {
  background-color: #f5f4fa;
}

.our-team {
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team .title-section {
  text-align: center;
}

.our-team .list-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .our-team .list-team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team .list-team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .our-team .list-team {
    margin-top: 50px;
  }
}

.our-team .item + .item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .our-team .item + .item:nth-child(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-team .item + .item {
    margin-top: 0;
    margin-left: 30px;
  }
}

.our-team .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 24px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team .item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

.our-team .title.name {
  margin-top: 30px;
}

.our-team .title.work {
  margin-top: 10px;
}

.our-team .list-social {
  margin-top: 16px;
}

.our-team .name {
  font-weight: 500;
  font-size: 16px;
}

.our-team .work {
  font-size: 16px;
  color: #757575;
}

/* <!-- Постоянные клиенты --> */
.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients .title-section {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
}

.clients .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .clients .list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients .item + .item {
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .clients .item + .item:nth-child(2n + 1) {
    margin-left: 0;
  }
  .clients .item + .item:nth-child(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients .item + .item:nth-child(-n + 3) {
    margin-top: 0;
  }
  .clients .item + .item:nth-child(4n) {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients .item + .item {
    margin-top: 0;
  }
}

.clients .item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients .item {
    width: calc((100% - 30px * 2) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients .item {
    width: calc((100% - 30px * 5) / 6);
  }
}

.clients .item:hover, .clients .item:focus-within {
  border-color: #2196f3;
  fill: #2196f3;
}

.clients .button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  fill: inherit;
}

.clients .icon.klient1 {
  width: 44px;
  height: 49px;
}

.clients .icon.klient2 {
  width: 40px;
  height: 52px;
}

.clients .icon.klient3 {
  width: 41px;
  height: 43px;
}

.clients .icon.klient4 {
  width: 80px;
  height: 42px;
}

.clients .icon.klient5 {
  width: 59px;
  height: 47px;
}

.clients .icon.klient6 {
  width: 88px;
  height: 45px;
}

/* Модалка (бланк-форма) */
/* бек-дроп */
.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
  /* сама форма модалки */
}

@media screen and (max-width: 767px) {
  .modal {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.modal .form-blank {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal .field {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  border: solid 1px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal .commentary {
  resize: none;
}

.modal .text-field {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal .text-commentary {
  position: absolute;
  top: 12px;
  left: 16px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .title {
  font-size: 20px;
  line-height: 23px;
}

.modal .title + .label {
  margin-top: 30px;
}

.modal .label {
  position: relative;
  /* border: none; */
}

.modal .label:hover .icon,
.modal .label:focus-within .icon {
  fill: #2196f3;
}

.modal .label:hover .text-field,
.modal .label:focus-within .text-field {
  -webkit-transform: translate(-24px, -38px);
          transform: translate(-24px, -38px);
  color: #2196f3;
}

.modal .label:hover .text-commentary,
.modal .label:focus-within .text-commentary {
  -webkit-transform: translate(0px, -30px);
          transform: translate(0px, -30px);
  color: #2196f3;
}

.modal .label:hover .field,
.modal .label:focus-within .field {
  border-color: #2196f3;
}

.modal .label + .label {
  margin-top: 28px;
}

.modal .label .icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .label-policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.modal .label-policy:focus-within .icon-checkbox {
  border-color: #2196f3;
}

.modal .label-policy .link {
  color: #2196f3;
}

.modal .text-policy {
  line-height: 1.71;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .modal .text-policy {
    -moz-tab-size: 12px;
      -o-tab-size: 12px;
         tab-size: 12px;
    line-height: 1.67;
  }
}

.modal .icon-checkbox {
  position: absolute;
  left: 2px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 4px;
}

.modal .checkbox:checked ~ .icon-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal .button {
  margin-top: 30px;
  /* width: 200px; */
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  border: none;
}

.modal .button:hover, .modal .button:focus {
  background-color: #188ce8;
}

.modal .data-modal-close {
  width: 30px;
  height: 30px;
  background-size: contain;
  position: absolute;
  right: 8px;
  top: 8px;
  /* обнуляем button */
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  border-width: 0;
  outline-color: rgba(0, 0, 0, 0);
}

.modal .data-modal-close:hover .icon,
.modal .data-modal-close:focus-within .icon {
  fill: #2196f3;
}

.modal .data-modal-close .icon {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Страница 2 "Портфолио" */
.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Фильтр */
.head-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.head-filter .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.head-filter .item + .item {
  margin-left: 8px;
}

.head-filter .radio {
  padding: 6px 22px;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  color: #212121;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-filter .radio:hover, .head-filter .radio:focus {
  background: #2196f3;
  color: #ffffff;
  border-color: transparent;
}

/* Проекты */
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc((100% - 60px) / 3);
}

.project .item:hover .pro.on-dark,
.project .item:focus .pro.on-dark {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project .item:hover, .project .item:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project .item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}

.project .item:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.project .pro.on-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: #2196f3;
}

.project .perimeter {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project .link {
  /* display: block; */
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project .overflow-img {
  display: block;
  overflow: hidden;
  position: relative;
}

footer {
  background-color: #2f303a;
}

.footer {
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .item-colomn {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc((100% - 60px) / 4);
  }
}

.footer .block-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer .block-subscribe {
    width: calc((100% - 30px) / 2);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .section {
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .footer .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.icon.send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-title {
    text-align: left;
  }
}

.label-subscribe {
  display: block;
  width: 100%;
}

.label-subscribe:hover .field-subscribe,
.label-subscribe:focus-within .field-subscribe {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .label-subscribe {
    margin-right: 12px;
  }
}

.field-subscribe {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  color: #757575;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .field-subscribe {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .field-subscribe {
    margin-bottom: 0;
  }
}

.block-subscribe .button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
}

@media screen and (min-width: 1200px) {
  .block-subscribe .button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */