/* Род деятельности (activity) */
.activity {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;

  & .title-section {
    align-self: center;
    margin-bottom: 50px;
  }
  & .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  & .item {
    position: relative;
  }
  & .item + .item {
    margin-left: 30px;
  }
  & .title.on-dark {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 27px;
    text-align: center;

    background-color: rgba(47, 48, 58, 0.8);
  }
}
