/* Герой */

.hero-section {
  background-color: rgba(47, 48, 58, 0.8);
  &.overlay {
    max-width: 1600px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 767px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
        url('../images/Header\ img-mobile.jpg');
      background-size: cover;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
          url('../images/Header\ img-mobile@2x.jpg');
      }
    }
    @media screen and (min-width: $width-tablet) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
        url('../images/Header\ img-tablet.jpg');
      background-size: cover;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
          url('../images/Header\ img-tablet@2x.jpg');
      }
    }
    @media screen and (min-width: $width-desktop) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url('../images/Header-img.jpg');
      background-size: cover;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
          url('../images/Header\ img@2x.jpg');
      }
    }
  }
  & .container {
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    /* height: 600px; */
  }
  & .title {
    text-align: center;
    margin-bottom: 30px;

    font-size: 26px;
    line-height: 1.62;
    font-weight: 900;
    letter-spacing: 0.06em;
    color: $text-white;

    @media screen and (min-width: $width-desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
