/* Адресс */
.address-blok-header {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: $width-tablet) {
    margin-left: auto;
  }

  & .item {
    display: flex;
    align-items: center;

    &:hover .icon,
    &:focus-within .icon {
      fill: $accent;
    }
    &:hover .link {
      color: $accent;
    }
  }
  & .button-icon {
    margin-right: 10px;
    &.icon-mail {
      width: 16px;
      height: 11.2px;
      fill: $text-primary;
    }
    &.icon-phone {
      width: 10px;
      height: 15px;
      fill: $text-primary;
      & .icon {
        width: 11px;
      }
    }
  }

  & .icon {
    background-position: center;
    background-size: contain;
    height: 16px;
    width: 16px;
    @include transition(fill);
  }
}
.site-header .address-list {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    align-items: center;
  }
  @media screen and (min-width: $width-desktop) {
    flex-direction: row;
  }
  & .item + .item {
    margin-top: 16px;
    @media screen and (min-width: $width-tablet) {
      margin-top: 10px;
    }
    @media screen and (min-width: $width-desktop) {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}
.address-list .link {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
  // Для футера
}
.footer .address-blok {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1199px) {
    align-items: center;
  }
}
.footer .address-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  @media screen and (min-width: $width-desktop) {
    align-items: flex-start;
  }

  & .link {
    margin-top: 9px;
    line-height: 1.17;
    letter-spacing: $letter-spacing-primary;
    color: rgba(255, 255, 255, 0.6);
  }
  & .map {
    line-height: 1.17;
    letter-spacing: $letter-spacing-primary;
    color: $text-white;
    font-style: normal;
  }
}
