.list-social {
  margin-top: 20px;
  display: flex;
}
.item-social {
  width: 44px;
  height: 44px;

  & + & {
    margin-left: 10px;
  }
  & .button-icon {
    display: inline-flex;
    width: 100%;
    height: 100%;
  }
  & .icon {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    fill: $icone-color;
    transition: background-color $transition-duration $function-of-time, fill $transition-duration $function-of-time;
  }
  & .icon:hover,
  &:focus-within .icon {
    background-color: $accent;
    fill: $background-primary;
  }
}

// Для футера (темного фону)
.dark-icon {
  border-radius: 50px;
  fill: text-white;
  background-color: rgba(255, 255, 255, 0.1);
}
