/* Логотип сайта в хедере */

.site-logo {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: $accent;

  .site-header & {
    margin-top: 24px;
    margin-bottom: 25px;
  }
}
.logo-studio {
  color: $text-head;
  // для футера
  .footer & {
    color: $text-white;
  }
}
