/* Проекты */
.project {
  display: flex;
  & .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  & .item {
    display: flex;
    width: calc((100% - 60px) / 3);

    &:hover .pro.on-dark,
    &:focus .pro.on-dark {
      transform: translateY(0);
    }
    &:hover,
    &:focus {
      box-sizing: border-box;
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
  }
  & .item:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }
  & .item:not(:nth-child(-n + 3)) {
    margin-top: 30px;
  }
  & .pro.on-dark {
    display: flex;
    padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(105%);
    @include transition(transform);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: $letter-spacing-primary;
    background: $accent;
  }
  & .perimeter {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
  }
  & .link {
    /* display: block; */
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
  }

  & .overflow-img {
    display: block;
    overflow: hidden;
    position: relative;
  }
}
