/* Блок шапки */

.site-header {
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //  стили для фиксированой позииции
  background: #ffffff;
  width: 100%;
  z-index: 1;

  & .item:hover,
  & .item:focus-within {
    color: $accent;
  }
}

/* Навигация */

.site-nav {
  display: flex;

  & > .list {
    display: flex;
    flex-direction: column;

    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.67;
    color: $text-head;

    @media screen and (min-width: $width-tablet) {
      flex-direction: row;
      align-items: center;
      // margin-left: 85px;
      font-size: $font-size-primary;
      line-height: 1.14;
    }
  }
  & .item + .item {
    @media screen and (max-width: 767px) {
      margin-top: 40px;
    }
    @media screen and (min-width: $width-tablet) {
      margin-left: 50px;
    }
  }
  /* Фишка "Мы тут" */
  & .link {
    @include transition(color);

    &.current {
      position: relative;
      color: $accent;
    }
    &.current.studio::after {
      // поправка только для активной страницы Студио
      @media screen and (max-width: 767px) {
        transform: translateX(30%);
      }
    }
    &.current::after {
      @media screen and (max-width: 767px) {
        margin-top: 8px;
      }
      content: '';
      display: block;
      margin-top: 28px;
      position: absolute;

      width: 100%;
      height: 4px;
      background: $accent;
      border-radius: 2px;
    }
  }
}
